body {
  padding-top: 50px;
    overflow:hidden;

}
.starter-template {

  text-align: center;
}

a{

  text-align: center;
}


a:hover{

  font-weight: bold ;
}



#particles-js
{
height: 100%;
background: #050A30;
 
}


@import url(https://fonts.googleapis.com/css?family=Montserrat:700);


h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 48vh;
  color:#F4F5F0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .8em;
  font-size:2vw;
  font-weight: normal;
  opacity: .8;
  text-transform: uppercase;
  text-shadow: hsla(0, 45%, 5%, .3) 0 0 1px, hsla(360, 55%, 95%, .3) 0 -1px 2px,  hsla(0, 45%, 5%, .3) 0 -1px 2px, hsla(360, 55%, 95%, .3) 0 20px 15px;
}





.header-main { padding: 12px 0; transition: all .4s; }

.is-transparent .header-main, .has-fixed .header-main { width: 100%; z-index: 49; }

.is-transparent .header-main { position: absolute !important; }

.has-fixed .header-main { position: fixed !important; box-shadow: 0 0 20px 0 rgba(18, 24, 58, 0.08); }

.has-fixed:not(.is-dark) .header-main { background: #dfeaf9; }

.has-fixed.is-dark .header-main {background: #e30000;}