{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div id="particles-js">
<div class="container">

<nav class="navbar navbar-inverse navbar-fixed-top" style="border-style: none; background: #F4F5F0">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="background-color: #050A30;">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://127.0.0.1:5000/" style="width: 175px; color:#050A30;">Digital Safe Box</a>

        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://127.0.0.1:5000/" style="width: 100px;  background-color:#050A30 ;">Anasayfa</a></li>
            <li><a href="{{ url_for('login') }}" style="width: 75px; color:#050A30;">Giriş</a></li>
            <li><a href="{{ url_for('signup') }}" style="width: 75px; color:#050A30;">Üye Ol</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
      

  <form class="form-signin" method="POST" action="/signup">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}


    <h2 class="form-signin-heading">Kayıt ol</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.password) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Kayıt ol</button>
  </form>
</div>
</div> <!-- /container -->



<script src="./static/particles.js"></script>
<script src="./static/app2.js"></script>

<!-- stats.js -->
<script>
  var count_particles, stats, update;
  stats = new Stats;
  stats.setMode(0);
  stats.domElement.style.position = 'absolute';
  stats.domElement.style.left = '0px';
  stats.domElement.style.top = '0px';
  document.body.appendChild(stats.domElement);
  count_particles = document.querySelector('.js-count-particles');
  update = function() {
    stats.begin();
    stats.end();
    if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
      count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
    }
    requestAnimationFrame(update);
  };
  requestAnimationFrame(update);
</script>
{% endblock %}